@tailwind base;
@tailwind components;
@tailwind utilities;

.sx-react-calendar-wrapper {
    width: 100%;
    height: 800px;
    max-height: 90vh;
}

#day-payment:checked ~ .tab-day-payment {
  @apply flex;
}

#day-payment:checked ~ .nav label[for="day-payment"] div {
  @apply bg-gray-200;
}

#extra-off:checked ~ .tab-extra-off {
  @apply flex;
}
#extra-off:checked ~ .nav label[for="extra-off"] div {
  @apply bg-gray-200;
}

#annual-leave:checked ~ .tab-annual-leave {
  @apply flex;
}
#annual-leave:checked ~ .nav label[for="annual-leave"] div {
  @apply bg-gray-200;
}